<%- include("../partials/Iheader") %>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/">
<link rel="stylesheet" href="/styles/newAccount.css">
<title>إنشاء حساب</title>
<%- include("../partials/Iheader2") %>
<%- include("../partials/flash") %>

<form action="/user/register" method="POST" class="main-container round shadow" data-aos="fade-up" data-aos-duration="750">
    <div class="main-container-right">
            <h1>إنشاء حساب</h1>
            <h2>المعلومات الشخصية</h2>
            <div class="cont-row">
                <label for="firstName">الإسم الأول</label>
                <input class="round shadow-light" type="text" name="firstname" placeholder="الإسم الاول" id="" required>
            </div>
            <div class="cont-row">
                <label for="secondName">إسم العائلة</label>
                <input class="round shadow-light" type="text" name="lastname" placeholder="الإسم الثاني" id="" required>
            </div>
            <div class="cont-row">
                <label for="phone">رقم الهاتف</label>
                <input class="round shadow-light" type="tel" pattern="[0-9]{10}" name="phone" placeholder="رقم الهاتف - مثال : 0598123456" id="phone" required>
            </div>
            <div class="cont-row">
                <label for="city">المدينة</label>
                <input class="round shadow-light" type="text" name="city" placeholder="المدينة" id="">
            </div>
            <div class="cont-row">
                <label for="address">العنوان</label>
                <input class="round shadow-light" type="text" name="address" placeholder="العنوان" id="">
            </div>
            <div class="cont-row">
                <label for="address">adminCode</label>
                <input class="round shadow-light" type="text" name="adminCode" placeholder="adminCode" id="">
            </div>
    </div>
    <div class="main-container-left">
        <h2>معلومات الدخول</h2>
        <div class="cont-row">
            <label for="eMail">البريد الإلكتروني</label>
            <input class="round shadow" type="email" name="email" placeholder="البريد الإلكتروني" id="" required>
        </div>
        <div class="cont-row">
            <label for="pass">كلمة المرور</label>
            <input class="round shadow" type="password" name="password" placeholder="كلمة المرور" id="" required>
        </div>
        <div class="cont-row">
            <input type="submit" class="round shadow" value="إنشاء الحساب">
        </div>
    </div>
</form>

<!-- <div class="form-group">
    <label for="city">المدينة</label>
    <select class="form-control" id="city" name="city">
        <option>رام الله والبيرة</option>
        <option>جنين</option>
        <option>نابلس</option>
        <option>طوباس</option>
        <option>طولكرم</option>
        <option>قلقيلية</option>
        <option>سلفيت</option>
        <option>أريحا</option>
        <option>بيت لحم</option>
        <option>الخليل</option>
    </select>
</div> -->

<%- include("../partials/Ifooter") %>
<script src="/scripts/account.js"></script>
<%- include("../partials/Ifooter2") %>